<p>Ask your coach anything:</p>
<form action="answer" class="input-group mb-3 w-50" data-turbo="false">
  <input type="text" class="form-control" name="question">
  <button class="btn btn-primary" type="submit">Ask!</button>
</form>

<p><%= @question %></p>
<p><%= @test %></p>
